 <head>
 <%= stylesheet_link_tag "dashboard.css"%>
 <%= javascript_import_module_tag "script"%>
 </head>
 <div class="dashboard">
        <section class="navigation">
            <ul>
            <li> <%= current_user.name%> </li>


            </ul>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete%>
            <%= image_tag("Logopng.png", alt:"Code Verse Hub", class:"dashboard-logo")%>
            <div>
                <%= image_tag("dashboard_icon.png", alt:"dashboard", class:"icons")%>
                <%= image_tag("lesson_icon.png", alt:"lesson", class:"icons")%>
                <%= image_tag("settings_icon.png", alt:"settings", class:"icons")%>
               <!-- <img src="asset/images/001-quiz.png" alt="quiz" class="icons"> *optional kung lalagyan ng quizzes*-->
            </div>
            <%= image_tag("User_Avatar.png", alt:"user image", class:"user")%>

        </section>
        
        <section class="main">
            <section class="main"><!-- Main -->
    
    
  <div class="title">
            <h1>My Lessons</h1>

        </div>

        <div class="lesson_list"> 
        <!--lesson list-->
        <% @lessons.each do |lesson|%>
        <%post = Post.find_by(id: lesson.number)%>
        <%= render partial:"user_lesson", locals: {lesson: lesson, post: post}%>
        <%end%>
        </div> <!--lesson list end-->
        </section>

        <section class="secondary"> <!--Secondary-->
            <div class="chart">
                <h2>Total Lessons</h2>
                <div>
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
                <div class="complete">
                    <p>From <%=pluralize(@post.length, "project")%> 

                    </p>
                </div>
            </div>
            <div class="recent_project"> <!--recent proj-->
                <div class="listing">
                    <div class="tittle">
                        <div class="category">
                            <h2>Finished: <p id="finished"><%=@completed_lessons%></p></p></h2>
                        </div>  
                    </div>
                </div>
                <div class="listing">
                    <div class="tittle">
                        <div class="category">
                            <h2>Remaining</h2>
                        </div> 
                    </div>
                </div>
                <div class="listing">
                    <div class="tittle">
                        <div class="category">
                            <h2>ongoing</h2>
                        </div>
                    </div>
                </div>
                <div class="listing">
                    <div class="tittle">
                        <div class="category">
                            <h2>Stalled</h2>
                        </div>
                    </div>
                </div>
            </div> <!--recent proj end-->
        </section>
    </div>

    <%= javascript_importmap_tags %>
    <!--Chart-->
    <script src= "asset/js/script.js">
 
    </script>
