 <head>
 <%= stylesheet_link_tag "dashboard.css"%>
 <%= javascript_import_module_tag "script"%>
 </head>
 <div class="dashboard">
        <section class="navigation">
            <ul>
            </ul>
            <div id="nav-content">
                <p><%= link_to current_user.name.capitalize, dashboard_path, class:"link-text", id:"username"%> </p>
               <p> <%= link_to "Sign Out", destroy_user_session_path, data: {turbo_method: :delete}, class:"link-text" %> </p>
               <!-- <img src="asset/images/001-quiz.png" alt="quiz" class="icons"> *optional kung lalagyan ng quizzes*-->
            </div>

        </section>
        
        <section class="main">
            <section class="main"><!-- Main -->
    
    
  <div class="title">
            <h1>My Lessons</h1>

        </div>

        <div class="lesson_list"> 
        <!--lesson list-->
        <% @lessons.each do |lesson|%>
        <%post = Post.find_by(id: lesson.number)%>
        <%= render partial:"user_lesson", locals: {lesson: lesson, post: post}%>
        <%end%>
        </div> <!--lesson list end-->
        </section>

        <section class="secondary"> <!--Secondary-->
            <div class="chart">
                <h2>Total Lessons</h2>
                <div>
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
                <div class="complete">
                    <p>From <%=pluralize(@post.length, "project")%> 

                    </p>
                </div>
            </div>
            <div class="recent_project"> <!--recent proj-->
                <div class="listing">
                    <div class="tittle">
                        <div class="category">
                            <h2>Finished: <p id="finished"><%=@completed_lessons%></p></h2>
                            <h2>ongoing: <p id="ongoing"><%=@ongoing_lessons%></p></h2>
                        </div>  
                    </div>
                </div>
                <div class="listing">
                    <div class="tittle">
                        <div class="category">
                            <h2>Remaining</h2>
                        </div> 
                    </div>
                </div>
                <div class="listing">
                    <div class="tittle">
                        <div class="category">
                            <h2>ongoing</h2>
                        </div>
                    </div>
                </div>
                <div class="listing">
                    <div class="tittle">
                        <div class="category">
                            <h2>Stalled</h2>
                        </div>
                    </div>
                </div>
            </div> <!--recent proj end-->
        </section>
    </div>

    <%= javascript_importmap_tags %>
    <!--Chart-->
    <script src= "asset/js/script.js">
 
    </script>
